<!-- Generated template for the ImageComponent component -->
<div class="title-cont">{{vars[activeLang.code]['ALBUM']}}</div>
<div class="album-preview">
  <div *ngFor="let albEl of album" class="album">
    <div [ngStyle]="{'background-image': 'url('+ albEl.smCover + ')'}" class="album-img">
      <!-- <img [src]="albEl.cover" alt="image"> -->
    </div>
    <div class="album-name">{{albEl.name[activeLang.code]}}</div>
  </div>
</div>

<div class="title-cont">{{vars[activeLang.code]['SCENERIES']}}</div>

<div class="images" overflow-scroll=true>
  <!-- <div class="img"></div> -->
  <div class="column">
    <div
        [hidden]="odd"
        *ngFor="let image of images; let i = index; let odd = odd"
        class="img"
      >
        <img [src]="image.image">
    </div>
  </div>
  <div class="column">
    <div [hidden]="even"
         *ngFor="let image of images; let i = index; let even = even"
         class="img"
    >
      <img [src]="image.image">
    </div>
  </div>
</div>
